.background-image-3 {
    background-image: url("/assets/3.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.background-image-4 {
    background-image: url("/assets/4.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

#store {
    .form-container {
        width: 60%;
    }
    .form-control {
        background-color: #f9f9f9 !important;
        border: 0px !important;
        height: 4rem;
        border-radius: $btn-border-radius;
    }

    .form-control:focus {
        box-shadow: 0 0 0 0.25rem rgb(33 37 41 / 10%);
    }
}

#furniture {
    .btn-primary {
        width: 50%;
    }

    .text {
        color: $bg-color;
        height: 5rem;
        width: 15rem;
        font-weight: bold;
        background-color: #fff;
        border-radius: $btn-border-radius;
    }
}

@media only screen and (max-width: 768px) {
    #gallery {
        .images-wrapper {
            padding: 1rem !important;
        }
    }
    #store {
        .form-container {
            width: 100%;
        }
    }
}
