.navbar {
    height: 10rem;  
    font-weight: bold;

    .main-title {
        color: $bg-color !important;
        font-size: 1.725rem;
    }

    .nav-link {
        color: $primary-color !important;
    }

    .nav-item {
        font-weight: 700;
    }

    i.bi {
        cursor: pointer;
    }

    .navbar-toggler:focus {
        box-shadow: none !important;
    }
}
